#profile-container {
    display: none;
}

#rule-container {
    display: none;
}


#payment-container {
    display: none;
}

#edit-profile-container {
    display: none;
}

#leaderboard-container {
    display: none;
}

#belanja-container {
    display: none;
}

#labirin-container {
    display: none;
}

#login-container {
    display: none;
}

#signup-container {
    display: none;
}

#saya-container {
    display: none;
}

#pasar-container {
    display: none;
}

#disclaimer-container {
    display: none;
}

#faq-container {
    display: none;
}

#return-policy-container {
    display: none;
}

#privacy-policy-container {
    display: none;
}

#term-container {
    display: none;
}

#roll-container {
    display: none;
}

#burung-container {
    display: none;
}

#zona1-container {
    display: none;
}

#cross-container {
    display: none;
}

.home-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.profile-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.payment-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.edit-profile-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.leaderboard-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.belanja-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.labirin-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.login-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.signup-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.saya-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.pasar-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.disclaimer-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.faq-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.return-policy-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.privacy-policy-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.term-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.roll-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.burung-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.zona1-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.cross-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}

.rule-bg {
    background-image: url('https://nasukafoods.site/langit.jpg');
    background-size: cover;
    background-position: center;
}


