#login-container input,
#signup-container input {
  width: 90%;
  font-size: 40px;
  padding: 30px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

#login-container button,
#signup-container button {
  width: 90%;
  font-size: 40px;
  padding: 30px;
  border: none;
  border-radius: 10px;
  background: #2196F3;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#login-container .laik,
#signup-container .laik {
  display: block;
  margin-top: 20px;
  font-size: 50px;
  color: #000;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

#login-container .laik:hover,
#signup-container .laik:hover {
