#saya-container {
    display: none;
}
#profil-container {
    display: none;
}    
#burung-container {
    display: none;
}
#roll-container {
    display: none;
}
#payment-container {
    display: none;
}
#belanja-container {
    display: none;
}
#editprofil-container {
    display: none;
}
#investor-container {
    display: none;
}
#inbox-container {
    display: none;
}
#leaderboard-container {
    display: none;
}
#faq-container {
    display: none;
}
#term-container {
    display: none;
}
#return-container {
    display: none;
}
#privacy-container {
    display: none;
}
#rulle-container {
    display: none;
}
#disclaimer-container {
    display: none;
}
#bos-container {
    display: none;
}

.home-bg {    
    background-image: url('https://nasukafoods.site/isiangajih.jpg');
    background-size: cover;
    background-position: center;
}

.saya-bg {    
    background-image: url('https://nasukafoods.site/memeprogramer.jpg');
    background-size: cover;
    background-position: center;  
}
  
.profil-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.burung-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.roll-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.payment-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.belanja-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.editprofil-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.investor-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.inbox-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.leaderboard-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.faq-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.term-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.return-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.privacy-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.rulle-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.disclaimer-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}

.bos-bg {    
    background-image: url('https://nasukafoods.site/paketcilok.jpg');
    background-size: cover;
    background-position: center;
}
